<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%highlight(%-5level)] \(%thread\) %boldYellow(%-36logger{36}) | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="async-console" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <logger level="debug" name="apps.amaralus.qa.platform"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>