body {
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.headerLayout {
    overflow: hidden;
}

.headerTitle {
    float: left;
    width: 50%;
}

.headerSearch {
    margin-left: 50%;
    text-align: right;
}

.contentLayout {
    overflow: hidden;
}

.testCases {
    float: left;
    width: 25%;
}

.testCaseDetails {
    margin-left: 25%;
}