<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA Platform</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div id="react"></div>
<script src="built/bundle.js"></script>

<div class="header">
    <div class="headerLayout">
        <div class="headerTitle">
            <h1>QA Platform</h1>
        </div>
        <div class="headerSearch">
            <h3>Fulltext search will be here</h3>
        </div>
    </div>
    <div class="headerButtons">
        There will be buttons here: <b>[Project selector] [Test cases] [Environments] [Test templates]</b>
    </div>
</div>
<hr/>
<div class="content">
    <div class="contentLayout">
        <div class="testCases">
            <h3>Test cases list</h3>
            <p th:utext="${message}"></p>
        </div>
        <div class="testCaseDetails">
            <h3>Test case details</h3>
        </div>
    </div>
</div>
<hr/>
<div class="footer">
    Footer
</div>
</body>
</html>